.style{
    background-image: url('./assets/green.jpg');
    width: 97vw;
    height: 95vh;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading{
    font-size: 100px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
.para{
    font-size: 30px;
}